{% extends "web_base.html" %}

{% block content %}

<div class="container card card-body">
	<h2>Adhérents / invités</h2>
	{% if dernier %}
	<h2>ID du dernier badge : {{ dernier }} </h2>
	{% endif %}
</div>
<br>
{% set texte_bouton = "Accès Adhérents" %}
{% include "includes/bouton_recherche.html" %}
{% include "includes/voir_adherents.html" %}
{% include "includes/boutons_visiteur.html" %}
{% include "includes/registre_entrees.html" %}
{% endblock %}
