{% extends "web_base.html" %}
{% block title %}Administration des comptes du SQYLAB{% endblock %}
{% block content %}
<div class="container">
	<div class="card card-body">
    <h2>Administration des comptes</h2>
		{% if dernier %}
		<h2>ID du dernier badge : {{ dernier }} </h2>
		{% endif %}
	</div>
</div>
<br>
{% include "includes/voir_adherents.html" %}
{% include "includes/boutons_admin.html" %}
<!-- include "includes/televersement.html" -->
{% endblock %}
