{% extends "web_base.html" %}
{% block content %}
<div class="container">
  {% from "includes/_macros.html" import render_field_with_errors, render_field %}
  <form action="{{ config.CONSTANTS.APP_REGISTER }}" method="POST" name="login_user_form">
    <h1>Register</h1>
    <label for="{{ config.CONSTANTS.EMAIL }}">Email</label>
    <input type="{{ config.CONSTANTS.EMAIL_TYPE }}" name="{{ config.CONSTANTS.EMAIL }}" value="">
    <label for="{{ config.CONSTANTS.PASSWORD }}">Mot de passe</label>
    <input type="{{ config.CONSTANTS.PASSWORD }}" name="{{ config.CONSTANTS.PASSWORD }}" value="">
    <input class="button" type="submit" name="login" value="Login">
  </form>
</div>
{% endblock %}
