{% block doc -%}
<!DOCTYPE html>
<html>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}{{title|default}}{% endblock title %}</title>

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    {% if config.ENV == "production" %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tidy.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='raw/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='raw/css/bootstrap.min.css') }}">
    {% endif %}
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body style="width: 100vw; height: 100vh; overflow: hidden;">
    <script type="text/javascript">
      function hide_flash_message() {
        console.log("HIDING FLASH MESSAGE");
        document.getElementById("flash_message").innerHTML = "";
      }
    </script>
    {% block body -%}
    <div class="row" style="width: 100%; height: 100%; margin: 2em;">
      <div class="nav flex-column nav-pills col-3" id="nav-tab" role="tablist">
        <a class="nav-link text-uppercase font-weight-bold {% if active == config.CONSTANTS.APP_ACCUEIL %}active{% endif %}" style="font-size: 180%;" href="/{{ config.CONSTANTS.APP_ACCUEIL }}">Accueil<span class="sr-only">(current)</span></a>
        <a class="nav-link text-uppercase font-weight-bold {% if active == config.CONSTANTS.APP_HISTORIQUE %}active{% endif %}" style="font-size: 180%;" href="/{{ config.CONSTANTS.APP_HISTORIQUE }}">Historique</a>
        <!-- <a class="nav-link text-uppercase font-weight-bold {% if active == 'evenement' %}active{% endif %}" style="font-size: 180%;" href="{{ evenement }}">Événement</a> -->
        <!-- <a class="nav-link text-uppercase font-weight-bold {% if active == 'news' %}active{% endif %}" style="font-size: 180%;" href="{{ newsletter }}">Newsletter<span class="sr-only">(current)</span></a>
        <a class="nav-link text-uppercase font-weight-bold {% if active == 'adhesion' %}active{% endif %}" style="font-size: 180%;" href="{{ adhesion }}">Adhésion<span class="sr-only">(current)</span></a> -->
        <!-- <a class="nav-link text-uppercase font-weight-bold {% if active == 'bug' %}active{% endif %}" style="font-size: 180%;" href="{{ bug }}">Suggestion / Bug</a> -->
        <!-- <a class="nav-link text-uppercase font-weight-bold {% if active == 'changelog' %}active{% endif %}" style="font-size: 180%;" href="{{ changelog }}">Changelog</a> -->
        <a class="nav-link text-uppercase font-weight-bold {% if active == 'admin' %}active{% endif %}" style="font-size: 180%;" id="admin-pill" href="/{{ config.CONSTANTS.APP_ADMIN }}">Admin</a>
        {% if 'user_id' in session.keys() %}
        <a class="nav-link text-uppercase font-weight-bold" style="font-size: 180%;" href="/{{ config.CONSTANTS.APP_ADMIN }}/{{ config.CONSTANTS.APP_LOGOUT }}">Se déconnecter</a>
        <a class="nav-link text-uppercase font-weight-bold {% if active == config.CONSTANTS.APP_REGISTER %}active{% endif %}" style="font-size: 180%;" href="/{{ config.CONSTANTS.APP_ADMIN }}/{{ config.CONSTANTS.APP_REGISTER }}">Ajouter Admin</a>
        <!-- <a class="nav-link text-uppercase font-weight-bold {% if active == 'bugs' %}active{% endif %}" style="font-size: 180%;" href="{{ bugs }}">Rapport de bugs</a> -->
        {% endif %}
        {% include "includes/statistiques.html" %}
      </div>
      <div class="col-9" style="overflow: scroll; height: 100vh;">
        {% block content -%}
        {%- endblock content %}
        <div class="container" id="flash_message">
          {% include "includes/flash_messages.html" %}
        </div>
      </div>
    </div>
    {% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <!-- include "includes/logout-script.html" -->
    {%- endblock scripts %}
    {%- endblock body %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.slim.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io('http://localhost:5000');
      socket.on('connect', function() {
        console.log("RFID connection");
        socket.emit('rfid', {data: 'Connected!'});
      });
      socket.on('rfid', function(msg) {
        console.log("RFID message");
        document.getElementById("flash_message").innerHTML = msg.template;
        setTimeout(hide_flash_message, 3000);
      });
    </script>
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
