.fullscreen {
  position: fixed;
  background: white;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  padding: 4em;
}
.fullscreen.ok {
  background: green;
}
.fullscreen.attention {
  background: orange;
}
.fullscreen.erreur {
  background: red;
}
.fullscreen.visiteur {
  background: blue;
}
.alert {
  background: white;
  text-align: center;
  font-size: 3em;
  color: black;
}
tr.erreur {
  background-color: red;
}
tr.ok {
  background-color: green;
}
tr.attention {
  background-color: orange;
}
tr.visiteur {
  background-color: blue;
}
td {
  background-color: white;
  opacity: 0.6;
}
