<div class="container">
  <button class="btn btn-success btn-lg btn-block" type="button" data-toggle="collapse" data-target="#{{ config.CONSTANTS.APP_VISITEUR }}" aria-expanded="false" aria-controls="collapseExample">Accès Visiteurs
  </button>
  <br>
  <div class="collapse card card-body" id="{{ config.CONSTANTS.APP_VISITEUR }}">
    <form action="{% if active == config.CONSTANTS.APP_ACCUEIL %}/{{ config.CONSTANTS.APP_ACCUEIL }}/{% endif %}{{ config.CONSTANTS.APP_VISITEUR }}" method="{{ config.CONSTANTS.WEB_POST }}">
      <h2> Entrez nom et prénom de l'invité </h2>
      <div class="row container">
        <div class="col col-3">
          <input type="text" name="{{ config.CONSTANTS.PRENOM }}" class="form-control" placeholder="Prénom" required>
          <small id="prenomHelp" class="form-text text-muted">Exemple : Michel</small>
        </div>
        <div class="col col-3">
          <input type="text" name="{{ config.CONSTANTS.NOM }}" class="form-control" placeholder="Nom en MAJUSCULE" required>
          <small id="nomHelp" class="form-text text-muted">Exemple : FAUVET</small>
        </div>
        <div class="col col-3">
          <input type="email" name="{{ config.CONSTANTS.EMAIL }}" class="form-control" placeholder="Adresse email">
          <small id="emailHelp" class="form-text text-muted">Facultatif, pour recevoir la newsletter.</small>
        </div>
        <div class="col col-3">
          <button type="submit" name="{{ config.CONSTANTS.WEB_BOUTON }}" value="{{ config.CONSTANTS.APP_VISITEUR }}" class="btn btn-primary">
            Envoyer
          </button>
        </div>
        <div class="col col-3">
            <input type="text" name="{{ config.CONSTANTS.WEB_ORGANISME }}" class="form-control" placeholder="Organisme ou entreprise"><small class="form-text text-muted">Facultatif pour statistique interne</small>
        </div>
        <br>
      </div>
    </form>
  </div>
</div>
