<div class="container">
  <br>
  <br>
</div>
<div class="container">
  <h4>Statistique visiteurs</h4>
  <table class="table table-bordered">
    <thead>
      <th></th>
      <th>Unique</th>
      <th>Total</th>
    </thead>
    <tr class="table-default">
      <th>Aujourd'hui</th>
      <td>{{ g.visiteurUniqueCeJour }}</td>
      <td>{{ g.visiteurCeJour }}</td>
    </tr>
    <tr class="table-default">
      <th>7 derniers jours</th>
      <td>{{ g.visiteurUniqueCetteSemaine }}</td>
      <td>{{ g.visiteurCetteSemaine }}</td>
    </tr>
    <tr class="table-default">
      <th>31 derniers jours</th>
      <td>{{ g.visiteurUniqueCeMois }}</td>
      <td>{{ g.visiteurCeMois }}</td>
    </tr>
  </table>
</div>
